@import"./Header.scss";
@import"./variables.scss";
@import"./style.css";

a{
  color: $header-fcolor;
}
a:hover{
  color:$header-fcolor;
  opacity: 0.8;
}
.hfonts{
  font-family: $header-font;
  font-size: $main-fontsize;
  color: $header-fcolor;
}
.hfonts-1{
  font-family: $header-font;
  font-size: $main-fontsize;
  color: $main-fcolor;
}
.footer{
  font-family: $header-font;
  font-size: $footer-fontsize;
  background-color: $footer-bg;
}
.texts{
  font-family: $header-font;
  font-size: $text-fontsize;
  color: $header-fcolor;
}
.texts-1{
  font-family: $header-font;
  font-size: $text-fontsize;
  color: $header-fcolor;
}