@import"./Header.scss";
@import"./variables.scss";
@import"./style.css";


.hfonts{
  font-family: $header-font;
  font-size: $main-fontsize;
}
.footer{
  font-family: $header-font;
  font-size: $footer-fontsize;
  background-color: $footer-bg;
}
.texts{
  font-family: $header-font;
  font-size: $text-fontsize;
}