@import"./Header.scss";
@import"./variables.scss";

@mixin bg-image($image) {
  background-image: $image; 
}

.hfonts{
  font-family: $header-font;
  font-size: $main-fontsize;
  @include bg-image(url('../media/hero_1.jpg'));
}