a {
  text-decoration: none;
}
.body {
  background-image: url("https://images.pexels.com/photos/8347501/pexels-photo-8347501.jpeg?cs=srgb&dl=pexels-mo-8347501.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  background-position: center center;
}
.body-1 {
  background-image: url("https://images.pexels.com/photos/4041427/pexels-photo-4041427.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4041427.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  background-position: center center;
}
.liststyle {
  list-style-type: none;
}
.serv-part1 {
  background-color: #eaebed;
}
.services-1 {
  background-image: url("https://images.pexels.com/photos/6070384/pexels-photo-6070384.jpeg?cs=srgb&dl=pexels-jill-burrow-6070384.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  background-position: center center;
}
.services-11 {
  color: #dcdad7;
}
.online-services {
  background-image: url("https://images.pexels.com/photos/6446676/pexels-photo-6446676.jpeg?cs=srgb&dl=pexels-karina-zhukovskaya-6446676.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  background-position: center center;
}
.liststyle-1 {
  font-size: 35px;
  color: #a97a71;
  list-style-type: none;
}
.in-person {
  background-image: url("https://images.pexels.com/photos/3184465/pexels-photo-3184465.jpeg?cs=srgb&dl=pexels-fauxels-3184465.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  background-position: center center;
}
.about-1 {
  background-image: url("https://images.pexels.com/photos/3183186/pexels-photo-3183186.jpeg?cs=srgb&dl=pexels-fauxels-3183186.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  background-position: center center;
}
.about-11 {
  background-color: #dcdad7;
}
.contact-1 {
  background-image: url("https://images.pexels.com/photos/11013648/pexels-photo-11013648.jpeg?cs=srgb&dl=pexels-phgaltri-11013648.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  background-position: center center;
}
.contact-11 {
  color: white;
}
