a {
  text-decoration: none;
}
.body {
  background-image: url("https://images.pexels.com/photos/8347501/pexels-photo-8347501.jpeg?cs=srgb&dl=pexels-mo-8347501.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  background-position: center center;
}
.body-1 {
  background-image: url("https://images.pexels.com/photos/4041427/pexels-photo-4041427.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4041427.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  background-position: center center;
}
.liststyle {
  list-style-type: none;
}
.services-1 {
  background-image: url("https://images.pexels.com/photos/6070384/pexels-photo-6070384.jpeg?cs=srgb&dl=pexels-jill-burrow-6070384.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  background-position: center center;
}
.services-11 {
  color: #dcdad7;
}
