a {
  text-decoration: none;
}
.body {
  background-image: url("https://images.pexels.com/photos/8347501/pexels-photo-8347501.jpeg?cs=srgb&dl=pexels-mo-8347501.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  background-position: center center;
}
.body-1 {
  background-image: url("https://images.pexels.com/photos/3791611/pexels-photo-3791611.jpeg?cs=srgb&dl=pexels-andres-victorero-3791611.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  background-position: center center;
}
.liststyle {
  list-style-type: none;
}
