/*fonts*/
$header-font:Gill Sans;
$main-fontsize: 70px;
$footer-fontsize: 15px;
$text-fontsize: 35px;

/*font colors*/
$header-fcolor: #A97A71;
$main-fcolor:black;

/*background colors*/
$footer-bg:#F8F9FA;
$header-bg:#FEFFFF;